.OrderSummary-wrapper{
    position: absolute;
    top:0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.415);
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition:opacity 0.4s linear;
    color:black;
}

.OrderSummary-wrapper-active{
    visibility: visible;
    opacity: 1;
}
.OrderSummary{
    padding:4vmin;
    font-size: 3vmin;
    line-height: 6vmin;
    font-family: 'Montserrat', sans-serif;
    background-color:white;
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    transform:scale(0);
    transform-origin:center;
    transition:transform 0.5s ease-in-out 0.3s;
}

.OrderSummary-active{
    transform:scale(1)
}

.OrderSummary button{
    font-size:3vmin;
    background-color:transparent;
    outline:none;
    border:none;
}

.OrderSummary button:hover{
    cursor: pointer;
}

.OrderSummary-continue{
    margin-right:3vmin;
    color:green;
}

.OrderSummary-cancle{
    color:red;
}

.OrderSummary ul{
    padding:0 3vmin;
}

